<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
    <Appenders>
		<!-- Definición del appender para logs de creacion de usuarios -->
        <File name="CreacionUsuariosFile" fileName="logs/creacion_usuarios.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
		
        <!-- Definición del appender para logs de login -->
        <File name="LoginFile" fileName="logs/sesiones.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        
        <!-- Definición del appender para logs de firma digital -->
        <File name="DigitalSignatureFile" fileName="logs/digital_signature.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        
         <!-- Definición del appender para logs de la aplicación -->
        <File name="App" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    
    <Loggers>
		<!-- Logger específico para logs de creación de usuarios -->
        <Logger name="com.tfm.creacion_usuarios" level="info" additivity="false">
            <AppenderRef ref="CreacionUsuariosFile" />
        </Logger>
		
        <!-- Logger específico para logs de login -->
        <Logger name="com.tfm.sesiones" level="info" additivity="false">
            <AppenderRef ref="LoginFile" />
        </Logger>
        
        <!-- Logger específico para logs de firma digital -->
        <Logger name="com.tfm.digital_signature" level="info" additivity="false">
            <AppenderRef ref="DigitalSignatureFile" />
        </Logger>
        
        <!-- Logger específico para logs de la aplicación -->
        <Logger name="com.tfm.app" level="info" additivity="false">
            <AppenderRef ref="App" />
        </Logger>   
    </Loggers>
</Configuration>
